basePath: /api
definitions:
  form.UserResponse:
    properties:
      created_at:
        $ref: '#/definitions/utils.FormatDate'
      email:
        type: string
      id:
        type: integer
      username:
        type: string
    type: object
  utils.FormatDate:
    properties:
      time.Time:
        type: string
    type: object
info:
  contact: {}
  description: API
  title: GOEX API
  version: "1.0"
paths:
  /user:
    patch:
      description: Returns Status of Update
      produces:
      - text/plain
      responses:
        "200":
          description: OK
          schema:
            type: string
      security:
      - BearerAuth: []
      summary: Update Profile
      tags:
      - User
  /user/me:
    get:
      description: Returns User
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/form.UserResponse'
      security:
      - BearerAuth: []
      summary: Get Profile
      tags:
      - User
swagger: "2.0"
